<!------CONTACT FORM ------>
<section>
    <button class="accordion" id="contact">Get in touch with us <img src="images/suite/arrowdown.png" class="arrowdown" alt=""></button>
    <div class="accordion-panel">
        <form action="https://script.google.com/macros/s/AKfycbyvwTV-cuCODDOYTpHpJhnlT6qkLz6DXIC5gYFRSXHPFfz1nGg/exec" method="post">
            <div id="form-messages" class="notification contact wow fadeInDown" data-wow-delay=".7s" data-wow-duration=".7s" ></div>
            <p class="text-center">Email us at <i>apps@proximax.io</i> or by completing the form below:</p><br>
            
            <div class="row">
                <div class="col-sm-6">
                <div class="form-group">
                    <label for="first_name">First Name :</label>
                    <input  id="first_name" class="form-control" name="First Name" required="" type="text" >
                </div>
                </div>
                <div class="col-sm-6">
                <div class="form-group">
                    <label for="last_name">Last Name :</label>
                    <input id="last_name" class="form-control" name="Last Name" required="" type="text" placeholder="">
                </div>
                </div>
            </div>

            <div class="row">
            <div class="col-sm-6">
                <div class="form-group">
                    <label for="email">Email Address :</label>
                    <input  id="email" class="form-control" name="Email Address" required="" type="email" >  
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <label for="company">Company Name :</label>
                    <input id="company" class="form-control" name="Company Name" required="" type="text" placeholder=""> 
                </div>
            </div>
            </div>
            
            <div class="form-group">
                <label for="message">Message :</label>
                <textarea id="message" class="form-control" name="Message" rows="5" required="" placeholder=""></textarea>
            </div>
            <button type="submit" class="btn-secondary"> SUBMIT</button>
        </form>
    </div>
</section>