 <!--LOADER-->
 <div class="site-loader">
    <div class="loader-dots">
       <div class="circle circle-1"></div>
       <div class="circle circle-2"></div>
    </div>
 </div>

 <!--NAVBAR-->
 <nav class="navbar wow fadeInDown" data-wow-delay=".2s" data-wow-duration="1s" id="myNavbar">
    <div class="container">
       <div class="navbar-header ">
          <button data-target="#navbarCollapse" data-toggle="collapse" class="navbar-toggle collapsed" type="button">
             <span class="sr-only">Toggle navigation</span>
             <span class="icon-bar top"></span>
             <span class="icon-bar mid"></span>
             <span class="icon-bar btm"></span>
          </button>
          <a href="#hero" class="site-logo navbar-brand"><img src="images/logos/suiteheaderlogo.png" class='headerlogo' alt="" ></a>
       </div>
       <div id="navbarCollapse" class="collapse navbar-collapse ">
          <ul class="nav navbar-nav navbar-right " id="nav_bar">
             <!-- <li>
                <div class="dropdown">
                   <button class="btn btn-default dropdown-toggle" data-toggle="dropdown" data-hover="dropdown">
                      Application <span class="caret"></span>
                   </button>
                   <ul class="dropdown-menu">
                      <li><a href="#">File It!</a></li>
                      <li><a href="#">Notes</a></li>
                      <li><a href="#">Vault</a></li>
                      <li><a href="#">Forms</a></li>
                   </ul>
                </div>
             </li>
             <li>
                <div class="dropdown">
                   <button class="btn btn-default dropdown-toggle2" data-toggle="dropdown" data-hover="dropdown">
                      Product <span class="caret"></span>
                   </button>
                   <ul class="dropdown-menu">
                      <li><a href="#">For Individual</a></li>
                      <li><a href="#">For Business</a></li>
                      <li><a href="#">For Education</a></li>
                   </ul>
                </div>
             </li>
             <li>
                <div class="dropdown">
                   <button class="btn btn-default dropdown-toggle" data-toggle="dropdown" data-hover="dropdown">
                      Resources <span class="caret"></span>
                   </button>
                   <ul class="dropdown-menu">
                      <li><a href="#">Stories</a></li>
                      <li><a href="#">Set Up</a></li>
                      <li><a href="#">FAQ</a></li>
                      <li><a href="#">Tech Blogs</a></li>
                   </ul>
                </div>
             </li> -->
             <li><a href="#contact">Support</a></li>
             <li><a href="https://suite.proximax.io/login" target="_blank" class="btn-login">Log In</a></li>
          </ul>
       </div>
    </div>
 </nav>