<!DOCTYPE html>
<html lang="zxx">
   <head>
      <title>ProximaX Apps</title>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="description" content="ProxiKYC" />
      <link rel="stylesheet" href="css/main.css" type="text/css">
      <!-- Main Stylesheet CSS -->
      <link rel="shortcut icon" href="img/icon.png" type="image/x-icon">
      <!--Favicon icon-->
   </head>
   <body data-spy="scroll" data-target=".navbar" data-offset="82">
      <div class="site-loader">
         <div class="loader-dots">
            <div class="circle circle-1"></div>
            <div class="circle circle-2"></div>
         </div>
      </div>
      <nav class="navbar wow fadeInDown" data-wow-delay=".2s" data-wow-duration="1s" id="myNavbar">
         <!-- Main header start -->
         <div class="container">
            <!-- container-start -->
            <div class="navbar-header ">
               <button data-target="#navbarCollapse" data-toggle="collapse" class="navbar-toggle collapsed" type="button">
                  <!-- mobile toggle (hamburgur) -->
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar top"></span>
                  <span class="icon-bar mid"></span>
                  <span class="icon-bar btm"></span>
               </button>
               <a href="#hero" class="site-logo navbar-brand"><img src="/images/logos/appsHeaderLogo.png" width="60%"></a><!-- main logo -->
            </div>
            <div id="navbarCollapse" class="collapse navbar-collapse ">
               <ul class="nav navbar-nav navbar-right " id="nav_bar">
                  <li><a href="#about">About</a></li>
                  <li><a href="#features">DApps</a></li>
                  <li><a href="#white-paper">Explorer</a></li>
                  <li><a href="#team">Exchange</a></li>
				  <li><a href="#partners">Useful Links</a></li>
                  <li><a href="#contact">Contact</a></li>
               </ul>
            </div>
         </div>
      </nav>
      <section class="" id="about">
         <!-- particles.js container --> 
        
         <!-- stats - count particles --> 

         <div class="banner burger  align-item-center parallax">
             <div id="particles-js"></div> 
            <div class="container" style="z-index: 5">
               <!-- container-start -->
               <div class="row">
                  <!-- row start -->
                  <div class="col-lg-12 text-center">
                     <!-- column start -->
                     <div >
                        <img class="img-banner-logo wow fadeInUp" data-wow-delay=".2s" data-wow-duration="1s" src="/images/logos/appsLogo.png" style="width:60%;height:60%;"/>
                        <div class="mt3 banner-btn-group wow fadeInUp" data-wow-delay=".4s" data-wow-duration="1s">
                           <a href="#token-distribution" class="redirect-btn btn-white ">LEARN MORE</a>    
                        </div>
                     </div>
                  </div>
                  
            </div>
            <!-- container end -->
         </div>
         <!--================= banner-end ==================-->
      </section>


        <section id="features">
			<div class="about-cryptency burger dark-template-bg">
            <div class="container">
				  <div class="row text-center">
                  <div class="col-lg-12 text-center wow fadeIn" data-wow-delay=".1s" data-wow-duration="1s">
                     <h1>ProximaX Apps</h1><br>
                     <p>ProximaX Apps, is a compilation of applications that are developed on the powerful ProximaX Sirius platform by our in-house developers. We have done as a demonstration of the great diversity of applications that can be developed on this platform.

                     </p>
                     
                  </div>
               </div>
         </div>
		 </div>
      </section>

      <section id="features">
        <div class="about-cryptency burger dark-template-light-bg">
        <div class="container">
                <div class="row text-center">
                <div class="col-lg-4 text-center wow fadeIn" data-wow-delay=".1s" data-wow-duration="1s">
                    <div class="row text-center">
                        <img src="images/logos/fileitlogo.png" width="80%" height="80%;"/>
                    </div>
                    <div class="row text-center">
                        <a href="javascript:void(0);" class="app-links"><i class="fa fa-globe"></i></a>
                        <a href="javascript:void(0);" class="app-links"><i class="fa fa-linkedin"></i></a>
                        <a href="javascript:void(0);" class="app-links"><i class="fa fa-medium"></i></a>
                    </div>
                </div>
                <div class="col-lg-4 text-center wow fadeIn" data-wow-delay=".1s" data-wow-duration="1s">
                    <img src="images/logos/kyclogo.png" width="80%" height="80%;"/>
                    
                </div>
                <div class="col-lg-4 text-center wow fadeIn" data-wow-delay=".1s" data-wow-duration="1s">
                    <img src="images/logos/noteslogo.png" width="80%" height="80%;"/>
                    
                </div>
            </div>
            <div class="row text-center"><a href="#token-distribution" class="redirect-btn btn-alpha ">LEARN MORE</a> </div>
        </div>
        </div>
    </section>



	   <section class="burger dark-template-light-bg" id="team">
	   <div id="particles-js"></div> 
         <div class="container text-center" style="z-index: 5">
		 <h2 class="mb5 wow fadeInUp" data-wow-delay=".5s" data-wow-duration="1s">Meet Our Awesome Team</h2>
           <div class="row text-center">
			   <div class="col-sm-4 wow fadeIn"  data-wow-delay="1s" data-wow-duration="1s" style="padding:20px;">
				<img src="img/man.png" style="width:60%;height:60%;" alt="whitepaper" >
				<h4 style="color:#0e8a82;">Team Member Name Here</h4>
				<p>Team Member Role</p>
			   </div>
			   <div class="col-sm-4 wow fadeIn" data-wow-delay="1s" data-wow-duration="1s" style="padding:20px;">
				<img src="img/man.png" style="width:60%;height:80%;" alt="whitepaper" >
				<h4 style="color:#0e8a82;">Team Member Name Here</h4>
				<p>Team Member Role</p>
			   </div>
			   <div class="col-sm-4 wow fadeIn" data-wow-delay="1s" data-wow-duration="1s" style="padding:20px;" >
				<img src="img/man.png" style="width:60%;height:60%;" alt="whitepaper" >
				<h4 style="color:#0e8a82;">Team Member Name Here</h4>
				<p>Team Member Role</p>
			   </div>
		   </div>
		   <div class="row text-center">
			   <div class="col-sm-4  wow fadeIn" data-wow-delay="1s" data-wow-duration="1s" style="padding:20px;">
				<img src="img/man.png" style="width:60%;height:60%;" alt="whitepaper" >
				<h4 style="color:#0e8a82;">Team Member Name Here</h4>
				<p>Team Member Role</p>
			   </div>
			   <div class="col-sm-4 wow fadeIn" data-wow-delay="1s" data-wow-duration="1s" style="padding:20px;">
				<img src="img/man.png" style="width:60%;height:60%;" alt="whitepaper" >
				<h4 style="color:#0e8a82;">Team Member Name Here</h4>
				<p>Team Member Role</p>
			   </div>
			   <div class="col-sm-4 wow fadeIn" data-wow-delay="1s" data-wow-duration="1s" style="padding:20px;">
				<img src="img/man.png" style="width:60%;height:60%;" alt="whitepaper" >
				<h4 style="color:#0e8a82;">Team Member Name Here</h4>
				<p>Team Member Role</p>
			   </div>
		   </div>
         </div>
         <!-- row container -->
      </section>
	  
      <!--=================== white-paper-section-end=============== -->
      <section class="burger dark-template-bg-gray" id="partners" >
         <div class="container text-center">
            <!-- container-start -->
            <h2 class="mb5 wow fadeInUp" data-wow-delay=".5s" data-wow-duration="1s">Our Partners</h2>
            <div class="row partners-list">
               <!-- row start -->
               <div class="col-sm-3 col-xs-6 wow fadeInUp" data-wow-delay=".5s" data-wow-duration=".5s">
                  <!-- column start -->
                  <img src="img/partner.png" alt="BIT COin" class="img-responsive">
               </div>
               <!-- column end -->
               <div class="col-sm-3 col-xs-6 wow fadeInUp" data-wow-delay=".6s" data-wow-duration=".6s">
                  <!-- column start -->
                  <img src="img/partner.png" alt="BIT COin" class="img-responsive">
               </div>
               <!-- column end -->
               <div class="col-sm-3 col-xs-6 wow fadeInUp" data-wow-delay=".7s" data-wow-duration=".7s">
                  <!-- column start -->
                  <img src="img/partner.png" alt="BIT COin" class="img-responsive">
               </div>
               <!-- column end -->
               <div class="col-sm-3 col-xs-6 wow fadeInUp" data-wow-delay=".8s" data-wow-duration=".8s">
                  <!-- column start -->
                  <img src="img/partner.png" alt="BIT COin" class="img-responsive">
               </div>
               
            </div>
            <!-- row-end -->
         </div>
         <!-- conatainer-end -->
      </section>
      <!--=================== partners-section-end=============== -->
      
      <!--=================== Faq-section-end=============== -->
      <section class=" burger dark-template-light-bg" id="contact" style="background-image:url('images/linear-bg.png');">
         <div class="container">
            <!-- container-start -->
            <div class="row align-item-center">
               <!-- row start -->
               <div class="col-sm-12 text-center">
                  <!-- column start -->
                  <div class="contact-form">
                     <h2 class="text-center mb5 wow fadeInUp" data-wow-delay=".5s" data-wow-duration="1s">Connect with us!</h2>
                     <form id="ajax-contact" method="post" action="contact-mail.php" class="wow fadeInUp" data-wow-delay=".7s" data-wow-duration=".7s">
                        <div id="form-messages" class="notification contact"></div>
                        <div class="row">
                           <!-- row-start -->
                           <div class="col-sm-6">
                              <!-- column start -->
                              <div class="form-group">
                                 <input  id="first_name" class="form-control" name="first_name" required="" type="text" >  
                                 <label for="first_name">First Name :</label>
                              </div>
                           </div>
                           <!-- column end -->
                           <div class="col-sm-6">
                              <!-- column start -->
                              <div class="form-group">
                                 <input id="last_name" class="form-control" name="last_name" required="" type="text" placeholder=""> 
                                 <label for="last_name">Last Name :</label>
                              </div>
                           </div>
                           <!-- column end -->
                        </div>
                        <!-- row end -->
                        <div class="form-group">
                           <input id="email" class="form-control" name="email" required="" type="text" placeholder="">
                           <label for="email">Email :</label>
                        </div>
                        <div class="form-group">
                           <textarea id="message" class="form-control" name="message" rows="5" required="" placeholder=""></textarea>
                           <label for="message">Message :</label>
                        </div>
                        <button type="submit" class="btn-white"> SUBMIT</button>
                     </form>
                  </div>
               </div>
               <!-- column end -->
               
               <!-- column end -->
            </div>
            <!-- row-end -->
         </div>
         <!-- conatainer-end -->
      </section>
      <!--=================== contact-section-end=============== -->
      <section class="burger dark-template-bg2">
         <div class="container">
            <!-- container-start -->
            <div class="row">
			<div class="col-sm-4" data-wow-delay=".9s" data-wow-duration=".9s">
                  <!-- column start -->
                  <h3>About ProximaX Ltd.</h3>
				  <p>ProximaX is an advanced extension of Blockchain and DLT with utility-rich, industry-standard
services and protocols. With blockchain at its core, a decentralised storage layer, and a
multimedia streaming and messaging layer, ProximaX enables an all-in-one, easy to program
platform for cross-industry, decentralized app development. Some use cases include, but are
not limited to, supply chain management, KYC, legal, compliance and notary solutions,
identity privacy and security management, IoT data management, Enterprise Resource
Planning (ERP), traceability, documentation and reporting systems, and workforce
collaboration.</p>
               </div>
			   <div class="col-sm-4" style="padding-left:50px;"data-wow-delay=".9s" data-wow-duration=".9s">
                  <!-- column start -->
					<h3>Follow Us</h3>
                    <p><a href="javascript:void(0);"><i class="fa fa-twitter"></i></a> Twitter</p>
                    <p><a href="javascript:void(0);"><i class="fa fa-facebook"></i></a> Facebook</p>
                    <p><a href="javascript:void(0);"><i class="fa fa-instagram"></i></a> Instagram</p>
					<p><a href="javascript:void(0);"><i class="fa fa-youtube"></i></a> YouTube</p>
					<p><a href="javascript:void(0);"><i class="fa fa-telegram"></i></a> Telegram</p>
                  
               </div>
               <div class="col-sm-4" data-wow-delay=".9s" data-wow-duration=".9s">
					<h3>Useful Links</h3>
					<p><a href="#tou">Terms of Use</a> </p>
					<p><a href="#privacy">Privacy Policy</a> </p>
					<p><a href="#cookie">Cookie Policy</a> </p>
					<p><a href="#faq">FAQs</a> </p>
					
					 <div class="subscribe-box col-sm-12">
					  
					  <h3 class="mb5 text-capitalize wow fadeInUp" data-wow-delay=".6s" data-wow-duration=".6s">Subscribe to our Newsletter for free Update & News</h3>
					  <form action="newsletter.php" id="subscribe_now" data-wow-delay=".7s" data-wow-duration=".7s" method="post">
						
						 <input type="email" name="subscribe_email" id="subscribe_email" class="form-control" placeholder="Ente your email address" required></br>
						 <button type="submit" class="btn-alpha" >SUBSCRIBE NOW</button>
					  </form>
				   </div>
               </div>
			  
               <!-- column end -->
            </div>
            <!-- row-end --> 
         </div>
		 </section>
		 <footer class="dark-template-bg3">
		 <div class="container ">
		 <div class="row text-center">
			<p class="copyright wow fadeInUp" data-wow-delay="1s" data-wow-duration="1s">All rights reserved <a href="www.proximax.io" class="template-color"><strong>ProximaX LTD</strong></a> Copyright &copy; 2018</p>
		 </div>
		 </div>
		 </footer>
         <!-- container-end -->
      
      <!-- footer-end -->
      <!--<div class="gear-box">
         <div class="gear" data-target="#templates-avaliable" title="Click to open" data-toggle="collapse"><i class="fa fa-gear"></i></div>
         <div class="gear-content collapse"  id="templates-avaliable">
            <ul class="template-list">
               <li><a href="../cryptency-black" title="Blue template"><span class="template-black-clr"></span> Landing page 1</a> </li>
               <li><a href="../cryptency-blue" title="Blue template"><span class="template-blue-clr"></span> Landing page 2</a> </li>
               <li><a href="../cryptency-light" title="Light template"><span class="template-light-clr"></span> Landing page 3</a> </li>
               <li><a href="../cryptency-dark" title="Dark template"><span class="template-dark-clr"></span> Landing page 4</a> </li>
            </ul>
         </div>
      </div>-->
      <script src="js/jquery3.2.1.min.js"></script><!-- JQUERY LIBRARY -->
      <script src="js/particles.min.js"></script><!-- Particles JS -->
      <script src="js/bootstrap.min.js"></script><!-- Bootstrap JS -->  
      <script src="js/wow.min.js"></script><!-- Main JS -->
      <script src="js/main.js"></script><!-- Main JS -->
      
   </body>
</html>