<!DOCTYPE html>
<html lang="zxx">
<head>
   <title>ProximaX KYC</title>
   <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <meta name="description" content="ProxiKYC" />
   <link rel="stylesheet" href="css/main.css" type="text/css">
   <!-- Main Stylesheet CSS -->
   <link rel="shortcut icon" href="img/icon.png" type="image/x-icon">
   <!--Favicon icon-->
</head>

<body data-spy="scroll" data-target=".navbar" data-offset="82">
   <div class="site-loader">
      <div class="loader-dots">
         <div class="circle circle-1"></div>
         <div class="circle circle-2"></div>
      </div>
   </div>


   <nav class="navbar wow fadeInDown" data-wow-delay=".2s" data-wow-duration="1s" id="myNavbar">
      <div class="container">
         <div class="navbar-header ">
            <button data-target="#navbarCollapse" data-toggle="collapse" class="navbar-toggle collapsed" type="button">
               <span class="sr-only">Toggle navigation</span>
               <span class="icon-bar top"></span>
               <span class="icon-bar mid"></span>
               <span class="icon-bar btm"></span>
            </button>
            <a href="#hero" class="site-logo navbar-brand"><img src="/images/logos/kycheaderlogo.png" class="headerlogo"></a><!-- main logo -->
         </div>

         <div id="navbarCollapse" class="collapse navbar-collapse ">
            <ul class="nav navbar-nav navbar-right " id="nav_bar">
               <li><a href="#home">HOME</a></li>
               <li><a href="#features">PLATFORM</a></li>
               <li><a href="#white-paper">kYC APP</a></li>
               <li><a href="#team">HOW DOES IT WORK?</a></li>
               <li><a href="#gdpr">GDPR</a></li>
               <li><a href="#partners">USE CASES</a></li>
               <li><a href="#about">ABOUT</a></li>
               <li><a href="#contact">Contact</a></li>
            </ul>
         </div>

      </div>
   </nav>

   <!--BANNER-->
   <section id="home" style='overflow-x: hidden;'>
      <video  autoplay loop="loop" id="video-background" muted plays-inline>
         <source style='overflow-x: hidden;' src="images/video.mp4" type="video/mp4" /> 
      </video>

      <div class="bannerkyc burger  align-item-center parallax">
         <div class="container" style="z-index: 5">
            <div class="row">
               <div class="col-lg-12 text-center">
                  <div >
                     <img class="img-banner-logo wow fadeInUp bannerlogo" data-wow-delay=".2s" data-wow-duration="1s" src="images/logos/kyclogo.png" />
                     <h1 class="big-pera wow fadeInUp banner-header" data-wow-delay=".3s" data-wow-duration="1s">Blockchain Powered Onboarding & Identity Management </h1>
                     <h4 class="big-pera wow fadeInUp banner-headerp" data-wow-delay=".3s" data-wow-duration="1s">Secure.  Private.  Permission-based.</h4>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </section>


   <section id="features">
      <div class="about-cryptency burger dark-template-bg">
         <div class="container">
            <div class="row text-center">
               <div class="col-lg-12 text-center wow fadeIn" data-wow-delay=".1s" data-wow-duration="1s">
                  <p style="font-size: 14pt;">The ProximaX platform, powered by blockchain, with its distributed and decentralized database, storage and streaming layers, provides improved security and privacy for storing and managing sensitive identity records compared to traditional centralised architectures, and at a substantial reduction in cost. By using NEM’s encryption technology, our platform also offers the opportunity for an advanced permission-based access to identity records, enabling greater control and ownership over personal data. 
                  </p>
               </div>
            </div>
         </div>
      </div>
   </section>

   <section id="features">
      <div class="dark-template-light-bg">
      <div class="container">
         <div id="particles-js"></div> 

         <div class="row">
            <div class="col-sm-6 col-sm-push-6 wow fadeIn" data-wow-delay="1s" data-wow-duration="1s">
               <img class="kycfeatures-img" src="images/p1.jpg">
            </div>
               <div class="col-sm-6 col-sm-pull-5 features-text" style="margin-top:10%;padding:10%;z-index: 10;color:white;background-color: rgb(14,138,120, 0.8);position:relative;">
                  <h2 class="wow fadeInUp" data-wow-delay=".5s" data-wow-duration="1s">Migrate your existing application to our platform </h2>
                  <div class="wow fadeInUp" data-wow-delay=".6s" data-wow-duration=".6s">
                  <p class="big-pera">We can migrate your existing application to its very <u><a href="#">own private ProximaX network.</a></a></u> You need minimal knowledge of blockchain technology, as it is completely driven by a service layer with good SDK support, and a web-service architecture. </p>
                  </div> 
               </div>
         </div>

         <div class="row">
            <div class="col-sm-6 col-sm-push-5 features-text wow fadeIn" style="margin-top:20%;padding:10%;z-index: 10;color:white;background-color: rgb(14,138,120, 0.8);position:relative;">
               <h2 class="wow fadeInUp" data-wow-delay=".5s" data-wow-duration="1s">Industry Level KYC Sharing</h2>
               <div class="wow fadeInUp" data-wow-delay=".6s" data-wow-duration=".6s">
               <p class="big-pera">Ability to share KYC records on a permission-basis with your industry counterparts</p>
               </div>
            </div>
            <div class="col-sm-6 col-sm-pull-12 wow fadeIn  " data-wow-delay="1s" data-wow-duration="1s">
               <img class="kycfeatures-img" src="images/p2.jpg">
            </div>
         </div>

         <div id="particles-js"></div> 

         <div class="row">
            <div id="particles-js"></div> 
            <div class="col-sm-6 col-sm-push-6 wow fadeIn" data-wow-delay="1s" data-wow-duration="1s">
               <img class="kycfeatures-img" src="images/p3.jpg">
            </div>
            <div class="col-sm-6 col-sm-pull-5 features-text" style="margin-top:10%;padding:10%;z-index: 10;color:white;background-color: rgb(14,138,120, 0.8);position:relative;">
               <h2 class="wow fadeInUp" data-wow-delay=".5s" data-wow-duration="1s">Service Provider Solutions</h2>
               <div class="wow fadeInUp" data-wow-delay=".6s" data-wow-duration=".6s">
               <p class="big-pera">Stand out and rise above the competition by adding the benefits of blockchain technology to your solution</p>
               </div>
            </div>
         </div>

         <div class="row">
            <div id="particles-js"></div> 
            <div class="col-sm-6 col-sm-push-5 features-text" style="margin-top:20%;padding:10%;z-index: 10;color:white;background-color: rgb(14,138,120, 0.8);position:relative;">
               <h2 class="wow fadeInUp" data-wow-delay=".5s" data-wow-duration="1s">Counterparty Onboarding</h2>
               <div class="wow fadeInUp" data-wow-delay=".6s" data-wow-duration=".6s">
               <p class="big-pera">Secure enterprise record-keeping; a cost-effective replacement to legacy systems</p>
               </div>
            </div>
            <div class="col-sm-6 col-sm-pull-12 wow fadeIn" data-wow-delay="1s" data-wow-duration="1s">
               <img class="kycfeatures-img" src="images/p4.jpg">
            </div>
         </div>
      </div>
      </div>
   </section>





   <section class=" burger dark-template-bg " id="white-paper">
      <div class="container" style="z-index: 5">
         <div class="row text-center gifs-text">
            <h1 class="wow fadeInUp" data-wow-delay=".5s" data-wow-duration="1s">ProximaX KYC App</h1>
            <h5>As well as providing a platform for integration with existing third-party applications, we have built our own counterparty onboarding app ready for commercial use.</h5>
         </div>

         <div class="row align-item-center gifrow" >
            <div class="col-sm-6 col-sm-push-6 wow fadeIn" data-wow-delay="1s" data-wow-duration="1s" style="position:relative;">
                  <img src="images/easy.gif" alt="" class='gif'  alt="whitepaper" />
            </div>
            <div class="col-sm-6 col-sm-pull-6 giftext">
               <p>Simple and Intuitive </p>
               <h2 class="wow fadeInUp" data-wow-delay=".5s" data-wow-duration="1s">Easy Onboarding, Fast Adoption </h2>
               <div class="wow fadeInUp" data-wow-delay=".6s" data-wow-duration=".6s">
               <p class="big-pera">The KYC App can be quickly customised to meet your KYC requirements. Easily add in new fields and tailor user upload requests.</p>
               </div>
            </div>
         </div>
      </div>
   </section>

   <section class=" burger dark-template-light-bg " id="white-paper">
      <div class="container" style="z-index: 5">
         <div class="row align-item-center gifrow" >
            <div class="col-sm-6 wow fadeIn" data-wow-delay="1s" data-wow-duration="1s">
               <img src="images/endtoend.gif" class='gif'  alt="whitepaper">
            </div>
            <div class="col-sm-6 giftext">
               <p>Fast Processing Time </p>
               <h2 class="wow fadeInUp" data-wow-delay=".5s" data-wow-duration="1s">End-to-End Workflow</h2>
               <div class="wow fadeInUp" data-wow-delay=".6s" data-wow-duration=".6s">
               <p class="big-pera">Collect KYC from your counterparties, perform your due diligence checks, escalate when needed, approve or reject</p>
                  </div>
            </div>
         </div>
      </div>
   </section>
      
   <section class=" burger dark-template-bg " id="white-paper">
      <div class="container" style="z-index: 5">
            <div class="row align-item-center gifrow" >
               <div class="col-sm-6 col-sm-push-6 wow fadeIn" data-wow-delay="1s" data-wow-duration="1s">
                  <img src="images/regtech.gif" class='gif' alt="whitepaper">
               </div>
               <div class="col-sm-6 col-sm-pull-6 giftext">
                  <p>Easy Integration</p>
                  <h2 class="wow fadeInUp" data-wow-delay=".5s" data-wow-duration="1s">Regtech of Your Choice</h2>
                  <div class="wow fadeInUp" data-wow-delay=".6s" data-wow-duration=".6s">
                  <p class="big-pera">Choose from our available list of service providers the RegTech that you need which includes screening, facial recognition, optical character recognition, credit checks, blockchain forensics analytics, and much more. </p>
                  </div>
               </div>
            </div>
      </div>
   </section>

   <section class=" burger dark-template-light-bg " id="white-paper">
      <div class="container" style="z-index: 5">
            <div class="row align-item-center gifrow" >
               <div class="col-sm-6 wow fadeIn" data-wow-delay="1s" data-wow-duration="1s">
                  <img src="images/regtech.gif" class='gif' alt="whitepaper">
               </div>
               <div class="col-sm-6 giftext">
                  <p>Permission-Based</p>
                  <h2 class="wow fadeInUp" data-wow-delay=".5s" data-wow-duration="1s">Identity Management</h2>
                  <div class="wow fadeInUp" data-wow-delay=".6s" data-wow-duration=".6s">
                  <p class="big-pera">Securely manage who can access your KYC records, track how long they have access for, and permanently delete your records following the expiry date of the data retention period.</p>
                  </div>
               </div>
            </div>
      </div>
   </section>

   <section class="burger dark-template-bg-gray" id="partners" style="background-image:url('images/connect.png');">
      <div class="container text-center">
         <h5 class="mb5 wow fadeInUp" style="font-size:14pt;" data-wow-delay=".5s" data-wow-duration="1s">By ProximaX KYC App utilising the ProximaX platform, it facilitates secure handling of data and data sovereignty. This new form of identity management gives individuals control over their personal data and allows them to share information only with trusted parties on a permission-basis. Selective data sharing ensures privacy and reduces the risk of identity theft.</h5>
      </div>
   </section>

	  
   <section class="burger dark-template-light-bg" id="team" style="background-image:url('images/linear-bg.png');" >
      <div id="particles-js"></div> 
         <div class="container" style="z-index: 5">
         <h2 class="mb5 wow fadeInUp text-center" data-wow-delay=".5s" data-wow-duration="1s">How Does the KYC App Work?</h2>
            <div class="row text-center">
               <img src="images/kycChart.png" class="howto-image" alt="whitepaper">
            </div>
            
            <div class="row">
            <p style="font-size: 1.2em;margin:5% 5% 1% 5%;padding-top: 5%;">Central to any KYC application is the way the KYC data is managed. In the scenario that a customer is uploading a passport copy, the file is sharded (a process to break up KYC data and each piece is encrypted and stored into multiple and distributed nodes. 
            </p>
            <p style="font-size: 1.2em;margin-left: 5%;margin-right: 5%;">To re-assemble and grant access to onboarding teams, the customer uses a private key (similar to a password). The beauty of ProximaX KYC is that when one node becomes unavailable, the next nearest available node will instantaneously take its place, thus ensuring zero-downtime. </p>
            <p style="font-size: 1.2em;margin-left: 5%;margin-right: 5%;">Privacy is maintained through pseudonymisation by using a combination of a public key (concealing the individual’s identity) and a cryptographically unique hash for the KYC file (akin to fingerprint). </p>
            <p style="font-size: 1.2em;margin-left: 5%;margin-right: 5%;">The blockchain at the core is used as a secure and incorruptible index to locate and manage KYC data.  A distributed file management system (IPFS) and a distributed database (BigChainDB) are used to store the KYC data. </p>
         </div>
      </div>
   </section>

      <section class="burger bg-gray" id="gdpr"  style="background-image:url('images/connect.png');">
            <div id="particles-js"></div> 
              <div class="container" style="z-index: 5">
              <h2 class="mb5 wow fadeInUp text-center" data-wow-delay=".5s" data-wow-duration="1s">What About <img class='gdprimage' src="images/GDPR.png" alt="gdpr">?</h2>
                
                <div class="row text-center gdprtext">
                 <p>Although blockchain technology has the ability to realize the underlining objectives laid out in the GDPR (EU General Data Protection Regulation), current European law classifies encrypted and hashed data, as well as public keys, as personal data.  By default, blockchain technology stores these as an immutable record; they cannot be deleted. For this reason, we have available a GDPR-compliant hybrid architecture, which is IPFS (InterPlanetary File System) linked together with a MongoDB database to do the job.
                 </p>
                </div>
              </div>
              <!-- row container -->
            </section>

   <section class="burger bg-gradient" id="about"  >
      <div id="particles-js"></div> 
      <div class="container" style="z-index: 5">
         <h1 class="mb5 wow fadeInUp text-center" data-wow-delay=".5s" data-wow-duration="1s">About</h1>
         <div class="row">
            <!--ABOUT LIST-->
            <ul class="about">
               <li class="about-list">
                  <p>ProximaX KYC is an app built on ProximaX Sirius, an Integrated and Distributed Ledger Technology (IaDLT) running on the best of breed NEM blockchain at its core. 
                  </p>
               </li>
               <li class="about-list" >
                  <p>ProximaX KYC is an app built on ProximaX Sirius, an Integrated and Distributed Ledger Technology (IaDLT) running on the best of breed NEM blockchain at its core. 
                  </p>
               </li>
               <li class="about-list">
                  <p>The dynamics within ProximaX KYC has in itself an expansive utility for market adoption that is flexible and can be used for other applications that are not strictly KYC per se, such as user data gathering and registration, and identity management. 
                  </p>
               </li>
               <li class="about-list">
                  <p>Increasingly, there is a need for both financial and non-financial sectors to include KYC as a core element for authentic customer data and compliance. 
                  </p>
               </li>
            </ul>
         </div>
      </div>
   </section>


   <section class=" burger dark-template-light-bg" id="contact" style="background-image:url('images/linear-bg.png');">
      <div class="container">
         <div class="row align-item-center">
            <div class="col-sm-12 text-center">
               <div class="contact-form">
                  <p class="text-center mb5 wow fadeInUp" data-wow-delay=".5s" data-wow-duration="1s" style="font-size:1.5em;">Secure onboarding has never been made so cost efficient and easy. Get in touch with us now at <i>kycinfo@proximax.io</i></p>
                  <form id="ajax-contact" method="post" action="contact-mail.php" class="wow fadeInUp" data-wow-delay=".7s" data-wow-duration=".7s">
                     <div id="form-messages" class="notification contact"></div>
                     <div class="row">
                        <div class="col-sm-6">
                           <div class="form-group">
                              <input  id="first_name" class="form-control" name="first_name" required="" type="text" >  
                              <label for="first_name">First Name :</label>
                           </div>
                        </div>
                        <div class="col-sm-6">
                           <div class="form-group">
                              <input id="last_name" class="form-control" name="last_name" required="" type="text" placeholder=""> 
                              <label for="last_name">Last Name :</label>
                           </div>
                        </div>
                     </div>

                     <div class="row">
                     <div class="col-sm-6">
                           <div class="form-group">
                              <input  id="first_name" class="form-control" name="first_name" required="" type="text" >  
                              <label for="first_name">Email Address :</label>
                           </div>
                     </div>
                     <div class="col-sm-6">
                           <div class="form-group">
                              <input id="last_name" class="form-control" name="last_name" required="" type="text" placeholder=""> 
                              <label for="last_name">Company Name :</label>
                           </div>
                     </div>
                     </div>
                     
                     <div class="form-group">
                        <textarea id="message" class="form-control" name="message" rows="5" required="" placeholder=""></textarea>
                        <label for="message">Message :</label>
                     </div>
                     <button type="submit" class="btn-white"> SUBMIT</button>
                  </form>
               </div>
            </div>
         </div>
      </div>
   </section>


   <section class="burger dark-template-bg2">
   <div class="container">
   <div class="row">
      <div class="col-sm-4" data-wow-delay=".9s" data-wow-duration=".9s">
         <h3>About ProximaX Ltd.</h3>
         <p>Proximax is a next generation platform solution with an Integrated and Distributed Ledger Technology (IADLT). Our ProximaX Sirius Platform is an integrated assembly of proven technologies for enterprises to develop applications with superior design while substantially reducing the total cost of ownership and time to market.</p>
      </div>
      <div class="col-sm-4" style="padding-left:50px;"data-wow-delay=".9s" data-wow-duration=".9s">
         <h3>Follow Us</h3>
            <p><a href="javascript:void(0);"><i class="fa fa-twitter"></i></a> Twitter</p>
            <p><a href="javascript:void(0);"><i class="fa fa-facebook"></i></a> Facebook</p>
            <p><a href="javascript:void(0);"><i class="fa fa-instagram"></i></a> Instagram</p>
            <p><a href="javascript:void(0);"><i class="fa fa-youtube"></i></a> YouTube</p>
            <p><a href="javascript:void(0);"><i class="fa fa-telegram"></i></a> Telegram</p>
      </div>
      <div class="col-sm-4" data-wow-delay=".9s" data-wow-duration=".9s">
         <h3>Useful Links</h3>
         <p><a href="#tou">Terms of Use</a> </p>
         <p><a href="#privacy">Privacy Policy</a> </p>
         <p><a href="#cookie">Cookie Policy</a> </p>
         <p><a href="#faq">FAQs</a> </p>
      </div>
   </div>
   </div>
   </section>

   <footer class="dark-template-bg3">
      <div class="container ">
         <div class="row text-center">
            <p class="copyright wow fadeInUp" data-wow-delay="1s" data-wow-duration="1s">All rights reserved <a href="www.proximax.io" class="template-color"><strong>ProximaX LTD</strong></a> Copyright &copy; 2018</p>
         </div>
      </div>
   </footer>
      
   </div>
   <script src="js/jquery3.2.1.min.js"></script><!-- JQUERY LIBRARY -->
   <script src="js/particles.min.js"></script><!-- Particles JS -->
   <script src="js/bootstrap.min.js"></script><!-- Bootstrap JS -->  
   <script src="js/wow.min.js"></script><!-- Main JS -->
   <script src="js/main.js"></script><!-- Main JS -->
   
</body>
</html>