<!DOCTYPE html>
<html lang="zxx">
<head>
   <title>ProximaX KYC</title>
   <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <meta name="description" content="ProxiKYC" />
   <link rel="stylesheet" href="css/main.css" type="text/css">
   <!-- Main Stylesheet CSS -->
   <link rel="shortcut icon" href="img/icon.png" type="image/x-icon">
   <!--Favicon icon-->
</head>

<body data-spy="scroll" data-target=".navbar" data-offset="82">
   <div class="site-loader">
      <div class="loader-dots">
         <div class="circle circle-1"></div>
         <div class="circle circle-2"></div>
      </div>
   </div>


   <nav class="navbar wow fadeInDown" data-wow-delay=".2s" data-wow-duration="1s" id="myNavbar">
      <div class="container">
         <div class="navbar-header ">
            <button data-target="#navbarCollapse" data-toggle="collapse" class="navbar-toggle collapsed" type="button">
               <span class="sr-only">Toggle navigation</span>
               <span class="icon-bar top"></span>
               <span class="icon-bar mid"></span>
               <span class="icon-bar btm"></span>
            </button>
            <a href="#hero" class="site-logo navbar-brand"><img src="/images/logos/kycheaderlogo.png" class="headerlogo"></a><!-- main logo -->
         </div>

         <div id="navbarCollapse" class="collapse navbar-collapse ">
            <ul class="nav navbar-nav navbar-right " id="nav_bar">
               <li><a href="#home">HOME</a></li>
               <li><a href="#platform">PLATFORM</a></li>
               <li><a href="#features">kYC APP</a></li>
               <li><a href="#team">HOW DOES IT WORK?</a></li>
               <li><a href="#gdpr">GDPR</a></li>
               <li><a href="#usecase">USE CASES</a></li>
               <li><a href="#about">ABOUT</a></li>
               <li><a href="#contact">Contact</a></li>
            </ul>
         </div>

      </div>
   </nav>

   <!--BANNER-->
   <section id="home" style='overflow-x: hidden;'>
      <video  autoplay loop="loop" id="video-background" muted plays-inline class="videobackground">
         <source style='overflow-x: hidden;' src="images/kyc/video.mp4" type="video/mp4" /> 
      </video>

      <div class="bannerkyc burger  align-item-center parallax">
         <div class="container" style="z-index: 5">
            <div class="row">
               <div class="col-lg-12 text-center">
                  <div >
                     <img class="img-banner-logo wow fadeInUp bannerlogo" data-wow-delay=".2s" data-wow-duration="1s" src="images/logos/kyclogo.png" />
                     <h1 class="big-pera wow fadeInUp banner-header" data-wow-delay=".3s" data-wow-duration="1s">Blockchain Powered Onboarding & Identity Management </h1>
                     <h4 class="big-pera wow fadeInUp banner-headerp" data-wow-delay=".3s" data-wow-duration="1s">Secure.  Private.  Permission-based.</h4>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </section>


   <section id="platform">
      <div class="about-cryptency burger bg-darkgreen">
         <div class="container">
            <div class="row text-center">
               <div class="col-lg-12 text-center wow fadeIn" data-wow-delay=".1s" data-wow-duration="1s">
                  <p style="font-size: 14pt;">The ProximaX platform, powered by blockchain, with its
                     distributed and decentralised database, storage and streaming
                     layers, provides improved security and privacy for storing and
                     managing sensitive identity records compared to traditional
                     centralised architectures, and at a substantial reduction in cost.
                     Our platform offers the opportunity for an advanced permissionbased
                     access to identity records, enabling greater control
                     and ownership over personal data. Deployed together is the
                     encryption technology which further protects the integrity of all
                     data utilising ProximaX KYC.
                  </p>
               </div>
            </div>
         </div>
      </div>
   </section>

   <section id="features">
      <div class="about-cryptency burger dark-template-light-bg">
         <div class="container">
            <div class="row text-center">
               <div class="col-lg-12 text-center wow fadeIn" data-wow-delay=".1s" data-wow-duration="1s">
                  <h2 class="mb5 wow fadeInUp text-center" data-wow-delay=".5s" data-wow-duration="1s">Migrate your existing application to our platform</h2>
                  <p style="font-size: 14pt;">We can migrate your existing application to its very own private ProximaX network. You need minimal knowledge of blockchain technology, as it is completely driven by a service layer with good SDK support, and a web-service architecture.  
                  </p>
               </div>
            </div>
         </div>
      </div>
   </section>

   <section class="burger bg-lightgreen fullheight" id="features" >
      <div class="container" style="z-index: 5">
         <div class="row align-item-center" >
            <div class="col-sm-6 col-sm-push-6 wow fadeIn" data-wow-delay="1s" data-wow-duration="1s" style="position:relative;">
               <img src="images/kyc/p1.jpg" alt="" class="kycfeatures-img"  alt="whitepaper" />
            </div>
            <div class="col-sm-6 col-sm-pull-7">
               <img src="images/kyc/government.png" alt="" class="featureIMG">
               <h2 class="wow fadeInUp featureTextHeader" data-wow-delay=".5s" data-wow-duration="1s">Government Identity Record Systems</h2>
               <div class="wow fadeInUp" data-wow-delay=".6s" data-wow-duration=".6s">
               <p class="big-pera featureTextSub">Zero-downtime and prevent data loss, with the ability to create digital identities.</p>
               </div>
            </div>
         </div>
      </div>
   </section>

   <section class="burger imgBackground" id="features" >
      <div class="container" style="z-index: 5">
         <div class="row align-item-center" >
            <div class="col-sm-6 col-sm-push-7 features-text wow fadeIn" style="margin-top:10%;padding:5%;z-index: 10;color:white;background-color: rgb(6,160,155,0.8);position:relative;text-align: right;">
               <img src="images/kyc/industrylevel.png" alt="" class="featureIMG2">
               <h2 class="wow fadeInUp featureTextHeader" data-wow-delay=".5s" data-wow-duration="1s">Industry Level KYC Sharing</h2>
               <div class="wow fadeInUp" data-wow-delay=".6s" data-wow-duration=".6s">
               <p class="big-pera featureTextSub">Ability to share KYC records on a permission-basis with your industry counterparts</p>
               </div>
            </div>
         </div>
      </div>
   </section>

   <section class="burger bg-lightgreen fullheight" id="features" >
      <div class="container" style="z-index: 5">
         <div class="row align-item-center" >
            <div class="col-sm-6 col-sm-push-6 wow fadeIn" data-wow-delay="1s" data-wow-duration="1s" style="position:relative;">
               <img src="images/kyc/p3.jpg" alt="" class="kycfeatures-img"  alt="whitepaper" />
            </div>
            <div class="col-sm-6 col-sm-pull-7">
               <img src="images/kyc/serviceprovider.png" alt="" class="featureIMG">
               <h2 class="wow fadeInUp featureTextHeader" data-wow-delay=".5s" data-wow-duration="1s">Service Provider Solution</h2>
               <div class="wow fadeInUp" data-wow-delay=".6s" data-wow-duration=".6s">
               <p class="big-pera featureTextSub">Stand out and rise above the competition by adding the benefits of blockchain technology to your solution.</p>
               </div> 
            </div>
         </div>
      </div>
   </section>

   <section class="burger imgBackground2" id="features" >
      <div class="container" style="z-index: 5">
         <div class="row align-item-center" >
            <div class="col-sm-6 col-sm-push-7 features-text wow fadeIn text-center" style="margin-top:10%;padding:5%;z-index: 10;color:white;background-color: rgb(6,160,155,0.8);position:relative;text-align: right;">
               <img src="images/kyc/counterparty.png" alt="" class="featureIMG2">
               <h2 class="wow fadeInUp featureTextHeader" data-wow-delay=".5s" data-wow-duration="1s">Counterparty Onboarding</h2>
               <div class="wow fadeInUp" data-wow-delay=".6s" data-wow-duration=".6s">
               <p class="big-pera featureTextSub">Secure enterprise record-keeping; a cost-effective replacement to legacy systems</p>
               </div>
            </div>
         </div>
      </div>
   </section>


   <section class=" burger bg-lightgreen deviceRow">
      <div class="row text-center gifs-text">
         <h1 class="wow fadeInUp" data-wow-delay=".5s" data-wow-duration="1s">ProximaX KYC App</h1>
         <p class="wow fadeInUp">As well as providing a platform for integration with existing third-party applications, we have built our own counterparty onboarding app ready for commercial use.</p>
      </div>
      <div class="container" >
         <div class="row align-item-center" >
            <div class="col-sm-6 col-sm-pull-1 wow fadeIn parent" data-wow-delay="1s" data-wow-duration="1s">
               <img src="images/laptop.png" class='gif-holder' alt="whitepaper">
               <img src="images/easy.gif" class='gif-inside' alt="whitepaper">
            </div>
            <div class="col-sm-6 col-sm-push-2 kycgiftext">
               <p>Simple and Intuitive </p>
               <h2 class="wow fadeInUp kycgifTextHeader" data-wow-delay=".5s" data-wow-duration="1s">Easy Onboarding, Fast Adoption </h2>
               <div class="wow fadeInUp" data-wow-delay=".6s" data-wow-duration=".6s">
               <p class="big-pera kycgifTextSub">The KYC App can be quickly customised to meet your KYC requirements. Easily add in new fields and tailor user upload requests.</p>
               </div>
            </div>
         </div>
      </div>
   </section>

   <section class=" burger bg-white deviceRow"  style="background-image:url('images/connect2.png');">
      <div class="container" >
         <div class="row align-item-center" >
            <div class="col-sm-6 kycgiftext">
               <p>Fast Processing Time</p>
               <h2 class="wow fadeInUp kycgifTextHeader" data-wow-delay=".5s" data-wow-duration="1s">End To End Workflow</h2>
               <div class="wow fadeInUp" data-wow-delay=".6s" data-wow-duration=".6s">
               <p class="big-pera kycgifTextSub">Collect KYC from your counterparties, perform your due diligence checks, escalate when needed, approve or reject.</p>
               </div>
            </div>
            <div class="col-sm-6  wow fadeIn parent2" data-wow-delay="1s" data-wow-duration="1s">
               <img src="images/laptop.png" class='gif-holder' alt="whitepaper">
               <img src="images/endtoend.gif" class='gif-inside' alt="whitepaper">
            </div>
         </div>
      </div>
   </section>

   <section class=" burger bg-lightgreen deviceRow">
      <div class="container" >
         <div class="row align-item-center" >
            <div class="col-sm-6 col-sm-pull-1 wow fadeIn parent" data-wow-delay="1s" data-wow-duration="1s">
               <img src="images/laptop.png" class='gif-holder' alt="whitepaper">
               <img src="images/regtech.gif" class='gif-inside' alt="whitepaper">
            </div>
            <div class="col-sm-6 col-sm-push-2 kycgiftext">
               <p>Easy Integration</p>
               <h2 class="wow fadeInUp kycgifTextHeader" data-wow-delay=".5s" data-wow-duration="1s">Regtech of Your Choice</h2>
               <div class="wow fadeInUp" data-wow-delay=".6s" data-wow-duration=".6s">
               <p class="big-pera kycgifTextSub">Choose from our available list of service providers the RegTech that you need which includes screening, facial recognition, optical character recognition, credit checks, blockchain forensics analytics, and much more. </p>
               </div>
            </div>
         </div>
      </div>
   </section>

   <section class=" burger bg-white deviceRow" style="background-image:url('images/fingerprint.png');">
      <div class="container" >
         <div class="row align-item-center">
            <div class="col-sm-6 kycgiftext">
               <p>Permission-Based</p>
               <h2 class="wow fadeInUp kycgifTextHeader" data-wow-delay=".5s" data-wow-duration="1s">Identity Management</h2>
               <div class="wow fadeInUp" data-wow-delay=".6s" data-wow-duration=".6s">
               <p class="big-pera kycgifTextSub">Securely manage who can access your KYC
                  records, track how long they have access for, and
                  permanently delete your records following the
                  expiry date of the data retention period.</p>
               </div>
            </div>
            <div class="col-sm-6 col-sm-push-2 wow fadeIn parentm" data-wow-delay="1s" data-wow-duration="1s">
               <img src="images/iphone.gif" class='gif-inside-m' alt="whitepaper">
               <img src="images/iphone.png" class='gif-holder-m' alt="whitepaper">
            </div>
         </div>
      </div>
   </section>

   <section class="burger dark-template-bg-gray" id="partners" >
      <div class="container text-center">
         <h5 class="mb5 wow fadeInUp" style="font-size:14pt;" data-wow-delay=".5s" data-wow-duration="1s">By ProximaX KYC App utilising the ProximaX platform, it facilitates secure handling of data and data sovereignty. This new form of identity management gives individuals control over their personal data and allows them to share information only with trusted parties on a permission-basis. Selective data sharing ensures privacy and reduces the risk of identity theft.</h5>
      </div>
   </section>

	  
   <section class="burger dark-template-light-bg" id="team" style="background-image:url('images/linear-bg.png');" > 
         <div class="container" style="z-index: 5">
         <h2 class="mb5 wow fadeInUp text-center" data-wow-delay=".5s" data-wow-duration="1s">How Does the KYC App Work?</h2>
            <div class="row text-center">
               <img src="images/kyc/blockchainChart.png" class="howto-image" alt="whitepaper">
            </div>
            
            <div class="row">
            <p style="font-size: 1.3em;margin:5% 5% 1% 5%;padding-top: 5%;">Central to any KYC application is the way the KYC data is managed. In the scenario that a customer is uploading a passport copy, the file is sharded (a process to break up KYC data) and each piece is encrypted and stored into multiple and distributed nodes. 
            </p>
            <p style="font-size: 1.3em;margin-left: 5%;margin-right: 5%;">To re-assemble and grant access to onboarding teams, the customer uses a private key (similar to a password). The beauty of ProximaX KYC is that when one node becomes unavailable, the next nearest available node will instantaneously take its place, thus ensuring zero-downtime. </p>
            <p style="font-size: 1.3em;margin-left: 5%;margin-right: 5%;">Privacy is maintained through pseudonymisation by using a combination of a public key (concealing the individual’s identity) and a cryptographically unique hash for the KYC file (akin to fingerprint). </p>
            <p style="font-size: 1.3em;margin-left: 5%;margin-right: 5%;">The blockchain
               at the core is used as a secure and incorruptible index to locate
               and manage KYC data. A distributed file management system
               and a distributed database are used to store the KYC data. </p>
         </div>
      </div>
   </section>


   <section class="burger bg-lightgreen fullheight" id="gdpr" >
      <div class="container" style="z-index: 5">
         <div class="row align-item-center" >
            <div class="col-sm-6 col-sm-push-6 wow fadeIn" data-wow-delay="1s" data-wow-duration="1s" style="position:relative;">
               <img src="images/gdpr.jpg" alt="" class="kycfeatures-img"  alt="whitepaper" />
            </div>
            <div class="col-sm-6 col-sm-pull-6">
               <h2 class="wow fadeInUp gdprtextHeader" data-wow-delay=".5s" data-wow-duration="1s">What About <img class='gdprimage' src="images/GDPR.png" alt="gdpr">?</h2>
               <div class="wow fadeInUp" data-wow-delay=".6s" data-wow-duration=".6s">
                  <p class="gdprtext">Although blockchain technology has the ability to realise the underlining objectives laid out in the GDPR (EU General Data Protection Regulation), current European law classifies encrypted and hashed data, as well as public keys, as personal data. By default, blockchain technology stores these as an immutable record; they cannot be deleted. For this reason, we have available a GDPR-compliant hybrid architecture, which is a distributed file management system linked together with a MongoDB database to do the job.
                  </p>
               </div>
            </div>
         </div>
      </div>
   </section>

   <section class="burger bg-gray" id="usecase" style="background-image:url('images/connect-light.png');background-size:cover;background-repeat: no-repeat;">
      <div class="container text-center">
         <h2 class="mb5 wow fadeInUp text-center" data-wow-delay=".5s" data-wow-duration="1s">Use Cases</h2>
         <h5 class="mb5 wow fadeInUp" style="font-size:1.5em;font-weight:normal;" data-wow-delay=".5s" data-wow-duration="1s">Whether it is for verifying identity or to ascertain source of wealth, ProximaX KYC can assist your staff with performing their due diligence checks efficiently, securely, and in a cost-effective manner. The app is available as a white-label product, meaning it can be rebranded to make it appear as your own, and integrated as an add-on feature to your existing application. Its inbuilt form-builder and APIs for third-party RegTech integration means it can be easily and quickly customised for cross-industry use.  </h5>
         <img src="images/kyc/KYCUseCaseNoBG.png" alt="" class="usecase-image" >
      </div>
   </section>

   <section class="burger bg-gradient" id="about"  >
      <div id="particles-js"></div> 
      <div class="container" style="z-index: 5">
         <h1 class="mb5 wow fadeInUp text-center" data-wow-delay=".5s" data-wow-duration="1s">About</h1>
         <div class="row">
            <ul class="about">
               <li class="about-list">
                  <p>ProximaX KYC is an app built on ProximaX Sirius, an Integrated and Distributed Ledger Technology (IaDLT). 
                  </p>
               </li>
               <li class="about-list" >
                  <p>The peer-to-peer and distributed nature of the solution makes ProximaX KYC a highly sophisticated solution that leverages upon an agglomeration of proven technologies using Blockchain-Storage-Streaming-Database System-Consensus components.
                  </p>
               </li>
               <li class="about-list">
                  <p>The dynamics within ProximaX KYC has in itself an expansive utility for market adoption that is flexible and can be used for other applications that are not strictly KYC per se, such as user data gathering and registration, and identity management. 
                  </p>
               </li>
               <li class="about-list">
                  <p>ProximaX KYC can assist your staff with performing their due
                     diligence checks efficiently, securely, and in a cost-effective manner, whether it is for verifying identity or ascertaining source
                     of wealth.
                  </p>
               </li>
               <li class="about-list">
                  <p>The app is available as a white-label product, meaning it can be
                     rebranded to make it appear as your own, and integrated as an add-on
                     feature to your existing application. Its inbuilt form-builder and APIs
                     for third-party RegTech integration means it can be easily and quickly
                     customised for cross-industry use.
                  </p>
               </li>
            </ul>
         </div>
      </div>
   </section>


   <section class=" burger dark-template-light-bg" id="contact" style="background-image:url('images/map-abstract.png');">
      <div class="container">
         <div class="row align-item-center">
            <div class="col-sm-12 text-center">
               <div class="contact-form">
                  <p class="text-center mb5 wow fadeInUp" data-wow-delay=".5s" data-wow-duration="1s" style="font-size:1.5em;">Secure onboarding has never been made so cost efficient and easy. Get in touch with us now at <i>kycinfo@proximax.io</i></p>
                  <form id="ajax-contact" method="post" action="contact-mail.php" class="wow fadeInUp" data-wow-delay=".7s" data-wow-duration=".7s">
                     <div id="form-messages" class="notification contact"></div>
                     <div class="row">
                        <div class="col-sm-6">
                           <div class="form-group">
                              <input  id="first_name" class="form-control" name="first_name" required="" type="text" >  
                              <label for="first_name">First Name :</label>
                           </div>
                        </div>
                        <div class="col-sm-6">
                           <div class="form-group">
                              <input id="last_name" class="form-control" name="last_name" required="" type="text" placeholder=""> 
                              <label for="last_name">Last Name :</label>
                           </div>
                        </div>
                     </div>

                     <div class="row">
                     <div class="col-sm-6">
                           <div class="form-group">
                              <input  id="first_name" class="form-control" name="first_name" required="" type="text" >  
                              <label for="first_name">Email Address :</label>
                           </div>
                     </div>
                     <div class="col-sm-6">
                           <div class="form-group">
                              <input id="last_name" class="form-control" name="last_name" required="" type="text" placeholder=""> 
                              <label for="last_name">Company Name :</label>
                           </div>
                     </div>
                     </div>
                     
                     <div class="form-group">
                        <textarea id="message" class="form-control" name="message" rows="5" required="" placeholder=""></textarea>
                        <label for="message">Message :</label>
                     </div>
                     <button type="submit" class="btn-white"> SUBMIT</button>
                  </form>
               </div>
            </div>
         </div>
      </div>
   </section>


   <section class="burger dark-template-bg2">
   <div class="container">
   <div class="row">
      <div class="col-sm-4" data-wow-delay=".9s" data-wow-duration=".9s">
         <h3>About ProximaX Ltd.</h3>
         <p>Proximax is a next generation platform solution with an Integrated and Distributed Ledger Technology (IADLT). Our ProximaX Sirius Platform is an integrated assembly of proven technologies for enterprises to develop applications with superior design while substantially reducing the total cost of ownership and time to market.</p>
      </div>
      <div class="col-sm-4 links-section" data-wow-delay=".9s" data-wow-duration=".9s">
         <h3>Follow Us</h3>
            <p><a href="https://twitter.com/proximaxio?lang=en"><i class="fa fa-twitter"></i>  Twitter</a> </p>
            <p><a href="https://www.facebook.com/ProximaXio/"><i class="fa fa-facebook"></i>  Facebook</a> </p>
            <p><a href="https://www.instagram.com/proximaxio/?hl=en"><i class="fa fa-instagram"></i>  Instagram</a> </p>
            <p><a href="https://www.youtube.com/channel/UCky9HP0VlqsnGQWrbMPFVnw"><i class="fa fa-youtube"></i>  YouTube</a> </p>
            <p><a href="https://web.telegram.org/#/im?p=@ProximaXio"><i class="fa fa-telegram"></i>  Telegram</a> </p>
            <p><a href="https://www.proximax.io"><i class="fa fa-globe"></i>  Website</a> </p>
            <p><a href="https://blog.proximax.io"><i class="fa fa-rss"></i>  Blog</a> </p>
      </div>
      <div class="col-sm-4" data-wow-delay=".9s" data-wow-duration=".9s">
         <h3>Useful Links</h3>
         <p><a href="#tou">Terms of Use</a> </p>
         <p><a href="#privacy">Privacy Policy</a> </p>
         <p><a href="#cookie">Cookie Policy</a> </p>
         <p><a href="/faq">FAQs</a> </p>
      </div>
   </div>
   </div>
   </section>

   <footer class="dark-template-bg3">
      <div class="container ">
         <div class="row text-center">
            <p class="copyright wow fadeInUp" data-wow-delay="1s" data-wow-duration="1s">All rights reserved <a href="www.proximax.io" class="template-color"><strong>ProximaX LTD</strong></a> Copyright &copy; 2018</p>
         </div>
      </div>
   </footer>
      
   </div>
   <script src="js/jquery3.2.1.min.js"></script><!-- JQUERY LIBRARY -->
   <script src="js/particles.min.js"></script><!-- Particles JS -->
   <script src="js/bootstrap.min.js"></script><!-- Bootstrap JS -->  
   <script src="js/wow.min.js"></script><!-- Main JS -->
   <script src="js/main.js"></script><!-- Main JS -->
   
</body>
</html>