<!DOCTYPE html>
<html lang="zxx">
   <head>
      <title>ProximaX KYC</title>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="description" content="ProxiKYC" />
      <link rel="stylesheet" href="css/main.css" type="text/css">
      <link rel="shortcut icon" href="img/icon.png" type="image/x-icon">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.7.0/animate.min.css">

      <script>
         function initializeFirebase(){
               var config = {
               apiKey: "AIzaSyAUbigpi_NUPd-Q-GjqYyO1vXRliqnem80",
               authDomain: "proxibox-8ba90.firebaseapp.com",
               databaseURL: "https://proxibox-8ba90.firebaseio.com/",
               storageBucket: "gs://proxibox-8ba90.appspot.com"
               };
               firebase.initializeApp(config);
         }
      </script>
      
      <script>
         function save(){
               var database = firebase.database();
               var firebaseref = database.ref();
               var subscriber = document.getElementById("subscriberEmail").value;
               if (subscriber === ''){
                  window.alert('Email is required');
               } else{
                  firebaseref.child("Subscribers").push().set({EmailAddress:subscriber});
                  window.alert('You have subscribed to ProximaX File It! We will keep in touch with your shortly.');
               }
               var email = document.getElementById("subscriberEmail").value="";
               
         }
      </script>
      <script src="https://www.gstatic.com/firebasejs/4.3.0/firebase.js"></script>

   </head>
   <body data-spy="scroll" data-target=".navbar" data-offset="82" onLoad="initializeFirebase()">
      <!-- LOADER -->
      <div class="site-loader">
         <div class="loader-dots">
            <div class="circle circle-1"></div>
            <div class="circle circle-2"></div>
         </div>
      </div>


      <nav class="navbar wow fadeInDown" data-wow-delay=".2s" data-wow-duration="1s" id="myNavbar">
         <div class="container">
            <div class="navbar-header ">
               <button data-target="#navbarCollapse" data-toggle="collapse" class="navbar-toggle collapsed" type="button">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar top"></span>
                  <span class="icon-bar mid"></span>
                  <span class="icon-bar btm"></span>
               </button>
               <a href="#hero" class="site-logo navbar-brand"><img src="/images/logos/notesheaderlogo.png" width="60%"></a>
            </div>
            <div id="navbarCollapse" class="collapse navbar-collapse ">
               <ul class="nav navbar-nav navbar-right " id="nav_bar">
                  <li><a href="#about">ABOUT</a></li>
                  <li><a href="#features">FEATURES</a></li>
                  <li><a href="#contact">SUBSCRIBE</a></li>
               </ul>
            </div>
         </div>
      </nav>
      <section class="" id="about">

         <div class="bannerNotes burger  align-item-center parallax">
             <div id="particles-js"></div> 
            <div class="container">
               <div class="row">
                  <div class="col-lg-12 big-pera wow fadeInUp  text-center">
                     <div >
                        <img class="img-banner-logo wow fadeInUp fileitlogo" data-wow-delay=".2s" data-wow-duration="1s" width="80%" style="margin-top:15%;" src="/images/logos/noteslogo.png"/>
                        <h2 class="headerText" data-wow-delay=".3s" data-wow-duration="1s">
                           ProximaX's Cross-Platform Note Taking Application
                        </h2>
                        <div class="mt3 banner-btn-group wow fadeInUp" data-wow-delay=".4s" data-wow-duration="1s">
                           <a href="#token-distribution" class="redirect-btn btn-white " style="margin-bottom: 20%;">LEARN MORE</a>    
                        </div>
                     </div>
                  </div>
            </div>
         </div>
      </section>


      <section id="features">
        <div class="burger dark-template-light-bg">
        <div class="container text-center">
            <h2>ProximaX File It! Features</h2>
            <p>Check out what makes ProximaX File It! Awesome</p>
            <div class="row text-center">
               <br><br>
               <div class="col-lg-4 text-center wow fadeIn" data-wow-delay=".1s" data-wow-duration="1s">
                     <img class="featureimages" src="images/fileit/keep.jpg" id="feature2"  onmouseout="document.getElementById('feature2').src='images/fileit/keep.jpg';" onmouseover="document.getElementById('feature2').src='images/fileit/keep.gif';" width="60%" height="60%;"/>
                     <h3>Encrypt and Upload your notes on ProximaX Blockchain Storage</h3>   
                </div>
                <div class="col-lg-4 text-center wow fadeIn" data-wow-delay=".1s" data-wow-duration="1s">
                     <img class="featureimages" src="images/fileit/notepad.jpg" id="feature3" onmouseout="document.getElementById('feature3').src='images/fileit/notepad.jpg';" onmouseover="document.getElementById('feature3').src='images/fileit/notepad.gif';" width="60%" height="60%;"/>
                     <h3>Keep Your Notes Private</h3>
                </div>
               <div class="col-lg-4 text-center wow fadeIn" data-wow-delay=".1s" data-wow-duration="1s">
                    <img class="featureimages" src="images/fileit/blockchain.jpg" id="feature1" onmouseout="document.getElementById('feature1').src='images/fileit/blockchain.jpg';" onmouseover="document.getElementById('feature1').src='images/fileit/blockchain.gif';" width="60%" height="60%;"/>
                    <h3>Secure your personal notes with blockchain encryption</h3>
               </div>
            </div>
        </div>
        </div>
    </section>



   <section class=" burger dark-template-bg-gray  wow fadeInRight" id="white-paper" style="background-image:url('images/connect.png');">
      <div class="container" >
         <div class="row text-center">
            <h1>ProximaX File It! Social</h1>
            <p>Look up and add friend accounts associated to any namespace and share files with them</p><br/><br/><br/>
            <img src="images/fileit/f1.png" class="animated fadeInRight delay-1s"  style="width:10%;height:10%;">
            <img src="images/fileit/f4.png" class="animated fadeInRight delay-1s"  style="width:10%;height:10%;">
            <img src="images/fileit/f3.png" class="animated fadeInRight delay-1s"  style="width:10%;height:10%;">
            <img src="images/fileit/f6.png" class="animated fadeInRight delay-1s"  style="width:10%;height:10%;">
            <img src="images/fileit/f2.png" class="animated fadeInRight delay-1s"  style="width:10%;height:10%;">
            <img src="images/fileit/fplus.png" class="animated fadeInRight delay-1s"  style="width:10%;height:10%;">
         </div>
      </div>
   </section>
	  
	  
   <section class="burger bg-gradient" id="contact">
      <div class="container text-center" style="z-index: 5">
         <img src="images/logos/fileitlogo.png" style="width:30%;height:30%;" alt="icon"><br/><br/>
         <p class="tagline">Subscribe to get the latest news and updates </p><br/>
         <div>
               <input class="subscriber-input" type="email" id="subscriberEmail" placeholder="Email Address"/>
               <button class="btn-subscribe" id="subscribe" onClick="save()">SUBSCRIBE</button>
         </div>
      <div class="row text-center">
      </div>
      </div>
   </section>



   <section class="burger dark-template-bg2">
      <div class="container">
         <div class="row">
            <div class="col-sm-4" data-wow-delay=".9s" data-wow-duration=".9s">
               <h3>About ProximaX Ltd.</h3>
               <p>Proximax is a next generation platform solution with an Integrated and Distributed Ledger Technology (IADLT). Our ProximaX Sirius Platform is an integrated assembly of proven technologies for enterprises to develop applications with superior design while substantially reducing the total cost of ownership and time to market.</p>
            </div>
            <div class="col-sm-4" style="padding-left:50px;"data-wow-delay=".9s" data-wow-duration=".9s">
               <h3>Follow Us</h3>
                  <p><a href="javascript:void(0);"><i class="fa fa-twitter"></i></a> Twitter</p>
                  <p><a href="javascript:void(0);"><i class="fa fa-facebook"></i></a> Facebook</p>
                  <p><a href="javascript:void(0);"><i class="fa fa-instagram"></i></a> Instagram</p>
                  <p><a href="javascript:void(0);"><i class="fa fa-youtube"></i></a> YouTube</p>
                  <p><a href="javascript:void(0);"><i class="fa fa-telegram"></i></a> Telegram</p>
            </div>
            <div class="col-sm-4" data-wow-delay=".9s" data-wow-duration=".9s">
               <h3>Useful Links</h3>
               <p><a href="#tou">Terms of Use</a> </p>
               <p><a href="#privacy">Privacy Policy</a> </p>
               <p><a href="#cookie">Cookie Policy</a> </p>
               <p><a href="#faq">FAQs</a> </p>
            </div>
         </div>
      </div>
   </section>
		 <footer class="dark-template-bg3">
		 <div class="container ">
		 <div class="row text-center">
			<p class="copyright wow fadeInUp" data-wow-delay="1s" data-wow-duration="1s">All rights reserved <a href="www.proximax.io" class="template-color"><strong>ProximaX LTD</strong></a> Copyright &copy; 2018</p>
		 </div>
		 </div>
		 </footer>
      </div>-->
      <script src="js/jquery3.2.1.min.js"></script><!-- JQUERY LIBRARY -->
      <script src="js/particles.min.js"></script><!-- Particles JS -->
      <script src="js/bootstrap.min.js"></script><!-- Bootstrap JS -->  
      <script src="js/wow.min.js"></script><!-- Main JS -->
      <script src="js/main.js"></script><!-- Main JS -->
      
   </body>
</html>