<!doctype html>
<html lang="en">
<head>
    <title>ProxiKYC</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="ProxiDocs Landing Page">
    <meta name="keywords" content="proxikyc, proximax kyc">
	<link rel="icon" href="/images/icon.png">

    <!-- Font -->
    <link rel="dns-prefetch" href="//fonts.googleapis.com">
    <link href="https://fonts.googleapis.com/css?family=Rubik:300,400,500" rel="stylesheet">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <!-- Themify Icons -->
    <link rel="stylesheet" href="/css/themify-icons.css">
    <!-- Owl carousel -->
    <link rel="stylesheet" href="/css/owl.carousel.min.css">
    <!-- Main css -->
    <link rel="stylesheet" href="css/main.css" type="text/css">
</head>

<body data-spy="scroll" data-target="#navbar" data-offset="30" onload="checkCookie()" class="dark-template-light-bg">

	
	
	<script>
	
	
	
	function getCookie(cname) {
    var name = cname + "=";
    var decodedCookie = decodeURIComponent(document.cookie);
    var ca = decodedCookie.split(';');
    for(var i = 0; i < ca.length; i++) {
        var c = ca[i];
        while (c.charAt(0) == ' ') {
            c = c.substring(1);
        }
        if (c.indexOf(name) == 0) {
            return c.substring(name.length, c.length);
        }
    }
    return "";
	}
	
	function checkCookie() {
    var user=getCookie("userID");
    
		if (user == "proxidocsdevs") {
		   window.location.href = "https://proxikyc.herokuapp.com";
		}
	}
	
	
		function login () {
			var username = document.getElementById('username').value;
			var password = document.getElementById('password').value;
			
			if(username == "" || password == ""){
				alert("Username and/or password cannot be empty.");
			}
			else if(username == "proxidocsdevs" && password != "+prxDcs2k18"){
				alert("Wrong password.");
			}
			else if(username != "proxidocsdevs" && password == "+prxDcs2k18"){
				alert("Account not found!");
			}
			else if(username != "proxidocsdevs" && password != "+prxDcs2k18"){
				alert("Wrong username and password.");
			}
			else{
				var d = new Date();
				d.setTime(d.getTime() + (30*24*60*60*1000));
				var expires = "expires=" + d.toGMTString();
				document.cookie = "userID=" + username + ";" + expires + ";path=/";
				window.location.href = "https://proxikyc.herokuapp.com";
			}
		}
	</script>

    


    <!--=================== Faq-section-end=============== -->
      <section class="burger" id="login" >
         <div class="container">
            <!-- container-start -->
            <div class="row align-item-center">
               <!-- row start -->
               <div class="col-sm-12 text-center">
                  <!-- column start -->
                  <div class="login-form">
					 <img class="img-banner-logo wow fadeInUp" data-wow-delay=".2s" data-wow-duration="1s" src="/img/logo.png" style="width:40%;height:40%;"/>
                     <form id="ajax-contact" method="post" action="contact-mail.php" class="wow fadeInUp" data-wow-delay=".7s" data-wow-duration=".7s">
                        <div id="form-messages" class="notification contact"></div>
                        <div class="row">
							<div class="form-group">
								<input  id="first_name" class="form-control" name="first_name" required="" type="text" >  
								<label for="first_name">Username</label>
							</div>
                        <div class="form-group">
                           <input id="email" class="form-control" name="email" required="" type="text" placeholder="">
                           <label for="email">Email Address</label>
                        </div>
                        <div class="form-group">
                           <input id="password" class="form-control" name="password" rows="5" required="" type="password"/>
                           <label for="password">Password</label>
						</div>
						<div class="form-group">
								<input id="confirm" class="form-control" name="confirm" rows="5" type="password" required=""/>
								<label for="confirm">Confirm Password</label>
							 </div>
						<button type="submit" class="btn-white">SIGN UP</button>
						<h5>Already have an account?<a href="#login"> Log in here.</a></h5>
                     </form>
                  </div>
               </div>
               <!-- column end -->
               
               <!-- column end -->
            </div>
            <!-- row-end -->
         </div>
         <!-- conatainer-end -->
      </section>
	
	

    <!-- jQuery and Bootstrap -->
    <script src="/js/jquery-3.2.1.min.js"></script>
    <script src="/js/bootstrap.bundle.min.js"></script>
    <!-- Plugins JS -->
    <script src="/js/owl.carousel.min.js"></script>
    <!-- Custom JS -->
    <script src="/js/script.js"></script>

</body>

</html>
