<!DOCTYPE html>
<html>
<% include ../partials/header %>
<body data-spy="scroll" data-target=".navbar" data-offset="82">


<a href="#" id="scroll" style="display: none;"><span></span></a>
<% include ../partials/nav %>
<% include ../partials/home %>
<% include ../partials/sections %>    
<% include ../partials/contactform %>     
<% include ../partials/footer %>  
<% include ../partials/scripts %>  
    
</body>
</html>
