<!DOCTYPE html>
<html lang="zxx">
<head>
   <title>ProximaX KYC</title>
   <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <meta name="description" content="ProxiKYC" />
   <link rel="stylesheet" href="css/main.css" type="text/css">
   <!-- Main Stylesheet CSS -->
   <link rel="shortcut icon" href="img/icon.png" type="image/x-icon">
   <!--Favicon icon-->

</head>

<body data-spy="scroll" data-target=".navbar" data-offset="82">
   <div class="site-loader">
      <div class="loader-dots">
         <div class="circle circle-1"></div>
         <div class="circle circle-2"></div>
      </div>
   </div>


   <nav class="navbar wow fadeInDown" data-wow-delay=".2s" data-wow-duration="1s" id="myNavbar">
      <div class="container">
         <div class="navbar-header ">
            <button data-target="#navbarCollapse" data-toggle="collapse" class="navbar-toggle collapsed" type="button">
               <span class="sr-only">Toggle navigation</span>
               <span class="icon-bar top"></span>
               <span class="icon-bar mid"></span>
               <span class="icon-bar btm"></span>
            </button>
            <a href="#home" class="site-logo navbar-brand"><img src="/images/logos/kycheaderlogo.png" class="headerlogo"></a><!-- main logo -->
         </div>

         <div id="navbarCollapse" class="collapse navbar-collapse ">
            <ul class="nav navbar-nav navbar-right " id="nav_bar">
               <li><a href="#home">HOME</a></li>
               <li><a href="#platform">PLATFORM</a></li>
               <li><a href="#features">kYC APP</a></li>
               <li><a href="#team">HOW DOES IT WORK?</a></li>
               <li><a href="#gdpr">GDPR</a></li>
               <li><a href="#usecase">USE CASES</a></li>
               <li><a href="#about">ABOUT</a></li>
               <li><a href="#contact">Contact</a></li>
            </ul>
         </div>

      </div>
   </nav>

   <section class="burger bg-gradient" id="about"  >
      <div id="particles-js"></div> 
      <div class="container" style="z-index: 5">
         <h1 class="mb5 wow fadeInUp text-center" data-wow-delay=".5s" data-wow-duration="1s">About</h1>
         <div class="row">
            <ul class="about wow fadeInUp" data-wow-delay=".5s" data-wow-duration="1s">
               <li class="about-list">
                  <p>ProximaX KYC is an app built on ProximaX Sirius, an Integrated and Distributed Ledger Technology (IaDLT). 
                  </p>
               </li>
               <li class="about-list" >
                  <p>The peer-to-peer and distributed nature of the solution makes ProximaX KYC a highly sophisticated solution that leverages upon an agglomeration of proven technologies using Blockchain-Storage-Streaming-Database System-Consensus components.
                  </p>
               </li>
               <li class="about-list">
                  <p>The dynamics within ProximaX KYC has in itself an expansive utility for market adoption that is flexible and can be used for other applications that are not strictly KYC per se, such as user data gathering and registration, and identity management. 
                  </p>
               </li>
               <li class="about-list">
                  <p>ProximaX KYC can assist your staff with performing their due
                     diligence checks efficiently, securely, and in a cost-effective manner, whether it is for verifying identity or ascertaining source
                     of wealth.
                  </p>
               </li>
               <li class="about-list">
                  <p>The app is available as a white-label product, meaning it can be
                     rebranded to make it appear as your own, and integrated as an add-on
                     feature to your existing application. Its inbuilt form-builder and APIs
                     for third-party RegTech integration means it can be easily and quickly
                     customised for cross-industry use.
                  </p>
               </li>
            </ul>
         </div>
      </div>
   </section>


   <section class="burger dark-template-bg2">
   <div class="container">
   <div class="row">
      <div class="col-sm-4" data-wow-delay=".9s" data-wow-duration=".9s">
         <h3>About ProximaX Ltd.</h3>
         <p>Proximax is a next generation platform solution with an Integrated and Distributed Ledger Technology (IADLT). The ProximaX Platform is an integrated assembly of proven technologies for enterprises to develop applications with superior design while substantially reducing the total cost of ownership and time to market.</p>
         <p><a href="https://www.proximax.io">www.proximax.io</a></p>
      </div>
      <div class="col-sm-4 links-section" data-wow-delay=".9s" data-wow-duration=".9s">
         <h3>Follow Us</h3>
            <p><a href="https://twitter.com/proximaxio?lang=en"><i class="fa fa-twitter"></i>  Twitter</a> </p>
            <p><a href="https://www.facebook.com/ProximaXio/"><i class="fa fa-facebook"></i>  Facebook</a> </p>
            <p><a href="https://www.instagram.com/proximaxio/?hl=en"><i class="fa fa-instagram"></i>  Instagram</a> </p>
            <p><a href="https://www.youtube.com/channel/UCky9HP0VlqsnGQWrbMPFVnw"><i class="fa fa-youtube"></i>  YouTube</a> </p>
            <p><a href="https://web.telegram.org/#/im?p=@ProximaXio"><i class="fa fa-telegram"></i>  Telegram</a> </p>
            <p><a href="https://www.proximax.io"><i class="fa fa-globe"></i>  Website</a> </p>
            <p><a href="https://blog.proximax.io"><i class="fa fa-rss"></i>  Blog</a> </p>
      </div>
      <div class="col-sm-4" data-wow-delay=".9s" data-wow-duration=".9s">
         <h3>Useful Links</h3>
         <p><a href="/tou">Terms of Use</a> </p>
         <p><a href="/privacy">Privacy Policy</a> </p>
         <p><a href="/cookie">Cookie Policy</a> </p>
         <p><a href="/faq">FAQs</a> </p>
      </div>
   </div>
   </div>
   </section>

   <footer class="dark-template-bg3">
      <div class="container ">
         <div class="row text-center">
            <p class="copyright">All rights reserved <a href="www.proximax.io" class="template-color"><strong>ProximaX LTD</strong></a> Copyright &copy; 2018</p>
         </div>
      </div>
   </footer>
      
   </div>
   <script src="js/jquery3.2.1.min.js"></script><!-- JQUERY LIBRARY -->
   <script src="js/particles.min.js"></script><!-- Particles JS -->
   <script src="js/bootstrap.min.js"></script><!-- Bootstrap JS -->  
   <script src="js/wow.min.js"></script><!-- Main JS -->
   <script src="js/main.js"></script><!-- Main JS -->
   
</body>
</html>